@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,700&display=swap");

html,
body,
#root,
.app {
    height: 100%;
    width: 100%;
    font-family: "Rubik", sans-serif;
}

.image {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}
